{% load staticfiles %}
{% load config_tags %}
<html>
<head>
    <title>Django blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Home - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
{#    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
</head>
<body class="main">

<!-- error block -->
{% if request.user.is_superuser %}
    {% if error_message %}
        <div id="error-block">
            {{ error_message }}
        </div>
    {% endif %}
{% endif %}

<!-- Navigation -->
{% top_menu request %}

<!-- Header Content -->
{% block header %}
{% endblock %}

<!-- Content -->
{% block content %}
{% endblock %}

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'src/img/logo-2@2x.png' %}" width="173" alt="">
            </div>
            <div class="col-md-3">
                <div class="contacts-wrapper">
                    <table>
                        <tr>
                            <td class="left">
                                <img src="{% static 'src/img/phone-icon2@2x.png' %}" alt="">
                            </td>
                            <td>
                                <div class="data">
                                    <div class="bold">8 913 866-26-66</div>
                                    <div>С 10:00 до 20:00</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">
                                <img src="{% static 'src/img/location-icon2@2x.png' %}" alt="">
                            </td>
                            <td>
                                <div class="data">
                                    <div>Иркутский тр., 71д, 3 этаж, офис 1</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="social">
                    <img src="{% static 'src/img/vk@2x.png' %}" width="37px" height="37px" alt="">
                    <img src="{% static 'src/img/insta@2x.png' %}" width="37px" height="37px" alt="">
                    <img src="{% static 'src/img/fb@2x.png' %}" width="37px" height="37px" alt="">
                    <img src="{% static 'src/img/skype@2x.png' %}" width="37px" height="37px" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <button class="button">Оставить отзыв</button>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="{% static 'dist/bundle.js' %}"></script>
</body>
</html>
