@import "./_colors.sass"

body
  &.main
    // navbar
    .navbar
      background: linear-gradient(to right, $blueDodger, $pinkHeliotrope)
      padding: 0
      ul
        li
          a
            padding: 22px 13px!important
          &:hover
            a
              background-color: $shadow

    // main header
    .main-header
      padding: 45px 0
      background-color: $gray
      //background-image: url("../img/logo.png")
