{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
    <div class="main-header">
        <div class="container">
            <div class="row header-wrapper">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-10">
                            <img class="logo" src="{% static 'src/img/logo@2x.png' %}" alt="">
                            <div class="text-container">
                                <p class="text">Педиатрия, инфекционные болезни, гепатология</p>
                            </div>
                            <img class="docs" src="{% static 'src/img/doc-icon@2x.png' %}" alt="">
                            <div class="prof-wrapper">
                                <div class="item">
                                    <p class="years">2004 – 2005 г.</p>
                                    <p class="description">Заведующий инфекционнымотделением Городской больницы №3</p>
                                </div>
                                <div class="item">
                                    <p class="years">2005 – 2011 г.</p>
                                    <p class="description">Главный врач НПО «Вирион»</p>
                                </div>
                                <div class="item">
                                    <p class="years">С 2011 г.</p>
                                    <p class="description">Частная врачебная практика</p>
                                </div>
                                <div class="item">
                                    <p class="years">Стаж работы</p>
                                    <p class="description">Более 20 лет</p>
                                </div>
                            </div>
                            <div class="request-wrapper">
                                <div class="request-block">
                                    <button class="button">Заявка на консультацию</button>
                                    <div class="dates"><a href="">Свободные даты</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contacts-wrapper">
                        <table>
                            <tr>
                                <td class="left">
                                    <img src="{% static 'src/img/phone-icon@2x.png' %}" alt="">
                                </td>
                                <td>
                                    <div class="data">
                                        <div class="bold">8 913 866-26-66</div>
                                        <div>С 10:00 до 20:00</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <img src="{% static 'src/img/location-icon@2x.png' %}" alt="">
                                </td>
                                <td>
                                    <div class="data">
                                        <div>Иркутский тр., 71д, 3 этаж, офис 1</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row video-list-wrapper">
        <div class="col-12 video-list-container">
            <div class="video-list">
                {% for video in video_list %}
                    <div class="video">
                        <iframe
                            width="140"
                            height="170"
                            src="https://www.youtube.com/embed/{{ video.link }}"
                            frameborder="0"
                            gesture="media"
                            allow="encrypted-media"
                            allowfullscreen></iframe>
                    </div>
               {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="info-block-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% if first_page %}
                    <img src="{{ first_page.get_image }}" width="100%" alt="">
                {% endif %}
            </div>
            <div class="col-md-5">
                {% if first_page %}
                    <div class="info-content">
                        <h3 class="title">{{ first_page.title }}</h3>
                        <p>{{ first_page.short_description|safe }}</p>
                        <a class="link" href="{{ first_page.get_url }}">подробнее</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-5">
                {% if second_page %}
                    <div class="info-content">
                        <h3 class="title">{{ second_page.title }}</h3>
                        <p>{{ second_page.short_description|safe }}</p>
                        <a class="link" href="{{ second_page.get_url }}">подробнее</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}